/* Establecer un gradiente de fondo para la página */
body {
    background-image: linear-gradient(to right, #A2214B, #00529F);
    background-size: cover;
    /* Asegura que el gradiente cubra toda la página */
    background-position: center;
    /* Centra el gradiente */
    height: 100vh;
    /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0;
    /* Elimina márgenes por defecto */
    color: #ffffff !important;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    /* Asegura que el navbar quede por encima de otros elementos */
    background-color: #A2214B;
    /* Asegúrate de mantener el color de fondo */
}

/* Cambiar color de texto de los enlaces en el menú */
.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Cambiar color al pasar el ratón por encima */
.navbar-nav .nav-link:hover {
    color: #DEB405 !important;
}

/* Cambiar el color de fondo del menú desplegable */
.dropdown-menu {
    background-color: #A2214B !important;
    /* El mismo color de fondo que el navbar */
}

/* Cambiar el color de las fuentes de los elementos del menú desplegable a dorado */
.dropdown-menu .dropdown-item {
    background-color: #A2214B !important;
    /* Fondo igual que el navbar */
    color: #ffffff !important;
    /* Texto dorado */
}

/* Cambiar el color de las fuentes a blanco cuando el ratón pasa por encima, manteniendo el fondo */
.dropdown-menu .dropdown-item:hover {
    color: #DEB405 !important;
    /* Texto blanco al pasar el ratón */
    background-color: #A2214B !important;
    /* Mantener el fondo igual al pasar el ratón */
}

.icon-link {
    display: flex;
    align-items: center;
    color: white;
    /* Color dorado del icono y texto */
    text-decoration: none;
    /* Elimina el subrayado */
}

.icon-link:hover {
    color: #DEB405;
    /* Cambiar a blanco al pasar el ratón */
}

.icon-link i {
    font-size: 1.5rem;
    /* Tamaño del icono */
    margin-right: 5px;
    /* Espacio entre icono y texto */
}

/* Espaciado entre elementos del navbar derecho */
.navbar-nav.ms-auto>.nav-item+.nav-item {
    margin-left: 20px;
}

/* Estilo del botón Buscar */
.btn-outline-light {
    color: #DEB405;
    /* Color dorado del texto por defecto */
    border-color: #DEB405;
    /* Borde dorado */
}

/* Estilo por defecto del botón Buscar */
.btn-outline-light {
    color: #DEB405;
    /* Color dorado del texto por defecto */
    border-color: #DEB405;
    /* Borde dorado */
    transition: all 0.3s ease;
    /* Suaviza las transiciones al hacer hover */
}

/* Cambiar color al hacer hover */
.btn-outline-light:hover {
    color: #ffffff !important;
    /* Cambia el texto a blanco */
    background-color: #DEB405 !important;
    /* Cambia el fondo a dorado */
    border-color: #DEB405 !important;
    /* Mantiene el borde dorado */
}

/* DESPUES DE NAV */
.firma {
    font-family: 'Dancing Script', 'Pacifico', 'Brush Script MT';
    font-size: 5.5rem;
    /*Ajusta el tamaño según lo necesites */
    color: #DEB405;
    /* Ejemplo de color dorado */
    text-align: center;
    /* Alineación del texto */
}

p {
    text-align: center;
    color: #ffffff;
    max-width: 80vw;
    margin: 0 auto;
    /* Centra el párrafo horizontalmente */
}

h1 {
    font-size: 3.5rem;
    /*Ajusta el tamaño según lo necesites */
    color: #DEB405 !important;
    /* Ejemplo de color dorado */
    text-align: center;
    /* Alineación del texto */
}

/*CARROUSEL*/

/* Ajuste del tamaño del carrusel */
#carouselExample {
    width: 80%;
    /* El carrusel ocupa un 80% del ancho de su contenedor */
    max-width: 1000px;
    /* Máximo tamaño de ancho para evitar que se estire mucho */
    height: 60vh;
    /* Ocupa un 60% de la altura de la ventana */
    margin: 0 auto;
    /* Centrado en la página */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Texto debajo de la imagen (en negro) */
#modalText {
    color: #000000;
    /* Letras en negro */
}

/* Ajustes para las imágenes dentro del carrusel */
.carousel-inner .carousel-item img {
    width: 70%;
    height: 50vh;
    object-fit: contain;
    /* Hace que la imagen se ajuste sin perder la proporción */
}

/* Estilos para la imagen en el modal */
#modalImage {
    max-width: 120vw;
    /* Establece el ancho máximo al 50% */
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
}

/* Estilo para centrar el modal en la pantalla */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Asegura que el modal se alinee verticalmente */
}

/* Botón con letras en blanco */
#nextImageButton {
    background-color: #004B87;
    /* Azulgrana */
    color: #ffffff !important;
    /* Letras blancas */
    border: none;
    /* Sin borde */
    text-decoration: none;
    /* Sin subrayado */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de la fuente */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor cuando pasa por encima */
}

#nextImageButton:hover {
    background-color: #0059B3;
    /* Un tono más oscuro de azulgrana al pasar el ratón */
}


/**BUSCADOR*/

.search-container {
    display: flex;
    /* Usar flexbox para centrar */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente si es necesario */
    height: 20vh;
    /* Opcional: para centrar verticalmente en toda la página */
}

/*Tabla*/
#playersTable tr.highlight-row,
#playersTable tr.highlight-row td,
#playersTable tr.highlight-row th {
    background-color: yellow !important;
}


.table-container {
    max-width: 80vw;
    margin: 0 auto;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    /* Ajusta este valor según lo que necesites para reducir el espacio */
}

.login img {
    width: 40vw;
    height: 35vh;
    object-fit: cover;
    display: block;
    /* Asegura que la imagen se trate como un bloque */
    margin: 0;
    /* Elimina cualquier margen automático */
    margin-bottom: 2.5%;
    padding: 0;
    /* Elimina cualquier padding que pueda estar aplicado */
}

.uniform-size {
    width: 80%;
    /* Ajusta al 80% del tamaño del contenedor */
    max-width: 300px;
    /* Tamaño máximo en píxeles */
    height: auto;
    /* Mantiene la proporción */
}

/* Modal - Estilo básico */
div div div p {
    text-align: center;
    color: #FFEB3B;
}

.card-text#blanco {
    color: white !important;
}

/*RELOJ*/
#progressBar {
    width: 90%;
    margin: 10px auto;
    height: 22px;
    background-color: #0A5F44;
}

#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px;
    /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
}

/* Do not take in account */

a.solink {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: #f3f5f6;
    color: #cfd6d9;
    border: 1px solid #cfd6d9;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s;
    z-index: 999
}

a.solink::first-letter {
    text-transform: capitalize
}

a.solink:hover {
    color: #428bca;
}

/*imagen difuminada*/
#player-image {
    width: 200px;
    height: 200px;
    filter: blur(20px);
    transition: filter 0.5s;
}

.hint {
    margin-top: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container2 {
    text-align: center; /* Centra el texto y los elementos dentro de la caja */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Agrega espacio entre los elementos */
}
